/* CSS Stylesheet */


/******************************************
Style Reset
******************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Style Reset */


/******************************************
Sitewide Styling
******************************************/

.sitewide {
  background: rgb(255,255,255);
  font-family: Roboto;
  color: rgb(74,74,74);
  font-size: 15pt;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

.full-Width {
  width: 100%
}

  /* Disable transitions on load */
.onload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/******************************************
Navbar
******************************************/

body {
  /* padding-top: 100px; */
}

header {
  display: block;
  height: 100px;
  line-height: 100px;
  background: white;
  position: fixed;
  top: 0px;
  width: 100%;
  transition: top 0.4s ease-in-out;
  z-index: 5;
}

/* Hide nav */
.nav-up {
  top: -100px;
}

/* Navbar as a block */
nav {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
}

/* Right Navbar Section */
.rightnav {
  float: right;
}

/* Right Navbar Elements */
.rightnav a {
  margin-left: 40px;
}

/* Left Navbar Section */
.leftnav {
  float: left;
}

/* Left Navbar Element */
.leftnav a {
  margin-right: 0px;
}

/* Navbar Element */
a {
  display: inline-block;
  text-decoration: none;
  font-size: 15pt;
  font-weight: 100;
  color: rgb(74,74,74);
}

nav a:hover {
  color: rgb(150,150,150);
}

/******************************************
Quotes
******************************************/

.quotes h1 {
  clear: both; /* does not allow elements to float on left or right of the element */
  display: block;
  font-size: 30pt;
  font-weight: lighter;
  line-height: 150%;
  width: 60vw;
  margin: auto;
  padding-top: 40vh;
  padding-bottom: 40vh;
}

.quotes h1.first-quote-onload {
  /* margin-top: calc(50vh - 150px); */
  margin-bottom: calc(50vh - 150px);
}

.quotes b {
  color: #E5E5E5;
}

/******************************************
Case Studies
******************************************/

.case-studies .video-1 {
  width: 100%;
  display: block;
  background-color: white;
  height: auto;
}

.app-icons {
  padding-top: 100px;
  /* padding-bottom: 100px;  see .case-studies h1*/
}

.logo-colours {
  padding-top: 0px;
  /* padding-bottom: 100px;  see .case-studies h1*/
}

.case-studies h1 {
  font-size: 12pt;
  font-weight: lighter;
  width: 60vw;
  text-align: right;
  margin: auto;
  /* padding-left: calc(100vw - 220px - 200px); */
  padding-top: 5px;
  padding-bottom: 100px;
  color: #979797;
}

.ipad-window {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}

#video-2 {
  width: 561px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 486px; /* move video up to ipad */
  z-index: 0;
}

/* Since video is positioned into iPad... div requires no height */
div.video-2 {
  height: 0px;
}

/* place gray background around ipad  */
.ipad-background {
  width: 100vw;
  padding-top: 50px;
  padding-bottom:50px;
  background-color: #F2F2F2;
}

.origami-download {
  display: block;
  margin: auto;
  width: 60vw;
  font-weight: lighter;
  font-size: 15pt;
  line-height: 150%;
}

.download {
  display: block;
  margin: auto;
  text-align: center;
  font-weight: lighter;
  color: white;
  background-color: #4A4A4A;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  margin: 25px auto 100px auto;
}

 .download:hover {
  color: #4A4A4A;
  background-color: #26C48C;
  background-color: #50E3C2;
  transition: 0.5s;
}

/******************************************
Deep Dive
******************************************/

.deep-dive {
  width: 100%
  display: block;
  height: auto;
}

.deep-dive h1 {
  display: inline-block;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30pt;
  font-weight: 500;
}

.deep-dive h2 {
  display: inline-block;
  margin-left: 20px;
  font-weight: lighter;
}

.deep-dive h3 {
  display: inline-block;
  font-weight: 300;
}

.project {
  width: 46.3%;
  margin-left: 30px;
  float: left;
  margin-bottom: 100px;
}

.deep-dive .project h3 {
  /* color: rgb(150,150,150); */
  color: #4A4A4A;
}

.deep-dive img {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.deep-dive .title {
  /* clear: both; does not allow elements to float on left or right of the element */
  display: block;
  font-size: 30pt;
  font-weight: lighter;
  line-height: 150%;
  padding-top: 150px;
  padding-bottom: 150px;
}

.deep-dive .title h4 {
  display: block;
  width: 60vw;
  margin: 40vh auto 40vh auto;
  font-weight: light;
  padding: 0px 0px 0px 0px;

}

.deep-dive .title .bold {
  font-weight: 500;
}

.deep-dive .project h5 {
  font-size: 12pt;
  font-weight: lighter;
  color: #979797;
}

/******************************************
Tinkering
******************************************/

.tinkering{
  width: 100%
  display: block;
  height: auto;
}

.tinkering h1 {
  display: inline-block;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30pt;
  font-weight: 500;
}

.tinkering h2 {
  display: inline-block;
  margin-left: 20px;
  font-weight: lighter;
}

.tinkering h3 {
  display: inline-block;
  font-weight: lighter;
}

.tinkering img {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/******************************************
Footer
******************************************/

footer {
  display: block;
  height: 40px;
  width: 60vw;
  margin: auto;
}

/* contact button styling */
footer a.contact {
  display: block;
  text-align: center;
  font-weight: lighter;
  color: white;
  background-color: #4A4A4A;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  margin: 25px auto 100px auto;
}

.contact:hover {
 color: #4A4A4A;
 background-color: #26C48C;
 background-color: #50E3C2;
 transition: 0.5s;
}

footer h2 {
  font-weight: lighter;
  color: #4A4A4A;
}

footer h3 {
  font-weight: lighter;
  color: #E5E5E5;
  font-size: 12pt;
  margin: 0px auto 75px auto;
  width: 152px;
}

footer p {
  font-weight: lighter;
}
