/* CSS Stylesheet */

/******************************************
Style Reset
******************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Style Reset */


/******************************************
Sitewide Styling
******************************************/

.sitewide {
  background: rgb(255,255,255);
  font-family: 'Lato', sans-serif;
  color: rgb(74,74,74);
  font-size: 15pt;
  font-weight: 300;
}

::selection {
  background: #F6B3B3; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #F6B3B3; /* Gecko Browsers */
}
::-webkit-selection {
  background: #F6B3B3; /* Gecko Browsers */
}

.full-Width {
  width: 100%
}

  /* Disable transitions on load */
.onload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}





/******************************************
Navbar
******************************************/


body {
  /* padding-top: 100px; */
}

header {
  display: block;
  height: 100px;
  line-height: 100px;
  background: white;
  position: fixed;
  top: 0px;
  width: 100%;
  transition: top 0.4s ease-in-out;
  z-index: 5;
}

/* Hide nav */
.nav-up {
  top: -100px;
}

/* Navbar as a block */
nav {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
}

/* Right Navbar Section */
.rightnav {
  float: right;
}

/* Right Navbar Elements */
.rightnav a {
  margin-left: 40px;
}

/* Left Navbar Section */
.leftnav {
  float: left;
}

/* Left Navbar Element */
.leftnav a {
  margin-right: 0px;
}

/* Navbar Element */
header a {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  font-size: 15pt;
  color: #4A4A4A;
}

nav a:hover {
  color: #969696;
  /* color: #FF8888; */
}

.currentPage {
  display: inline-block;
  text-align: center;
  line-height: 24px;
  /* position: relative;
  top: 3px; */
  width: auto;
  opacity: 0.7;
}


.background-morning {
  background-color: #FBA4A4;
}

.background-afternoon {
  background-color: #9DC2EB;
}

.background-evening {
  background-color: #B6B3F9;
}



/******************************************
Launchpad
******************************************/


  /******************************************
  Intro Message
  ******************************************/


    #intro-greeting {
      text-decoration: none;
    }

    .morning{
      color: #FBA4A4;
    }

    .afternoon{
      color: #9DC2EB;
    }

    .evening{
      color: #B6B3F9;
    }

    span.welcome {
      border-right: 2px solid;
      border-color: #4A4A4A;
      animation: text-cursor 1s steps(1) infinite;
      -webkit-animation: text-cursor 1s steps(1) infinite;
      -moz-animation: text-cursor 1s steps(1) infinite;
    }

    @keyframes text-cursor {
      50% {
        border-color: transparent;
      }
    }
    @-webkit-keyframes text-cursor {
      50% {
        border-color: transparent;
      }
    }
    @-moz-keyframes text-cursor {
      50% {
        border-color: transparent;
      }
    }

    .intro-message{
      padding-top: 35vh;
      padding-bottom: 0vh;
    }

    .intro-message h1 {
      clear: both; /* does not allow elements to float on left or right of the element */
      display: block;
      font-size: 50pt;
      line-height: 150%;
      width: 60vw;
      height: auto;
      margin: auto;
    }

    a {
      display: inline-block;
      text-decoration: none;
      font-size: 15pt;
      /* font-weight: 300; */
      color: #4A4A4A;
    }

    a.portfolio-embeded-link {
      /* text-decoration: underline; */
      font-size: 21pt;
    }

    a.portfolio-embeded-link:hover {
      color: #969696;
    }

    .intro-message h2 {
      clear: both; /* does not allow elements to float on left or right of the element */
      display: block;
      font-size: 18pt;
      line-height: 150%;
    }

    .keep-going {
      clear: both;
      display: inline-block;
      float: left;
      width: auto;
      margin-top: 35px;
      margin-left: 20vw;
    }

    .jump-ahead {
      display: inline-block;
      float: left;
      width: auto;
      margin-left: 10vw;
      margin-top: 35px;
    }



    .intro-button {
      display: inline-block;
      text-align: center;
      font-size: 13pt;
      width: 150px;
      line-height: 40px;
      border-radius: 20px;
      border: 0.5px solid #E5E5E5;
      background-color: #FFFFFF;
      color: #979797;

      margin: 20px 0px 0px 0px;
      transition: 0.5s;
    }

    #continue:hover {
      border-color: #50D78F;
      background-color: #50D78F;
      color: #FFFFFF;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      transition: 0.5s;
    }


  /******************************************
  Quotes
  ******************************************/

  .quotes h1 {
    clear: both; /* does not allow elements to float on left or right of the element */
    display: block;
    font-size: 30pt;
    line-height: 150%;
    width: 60vw;
    margin: auto;
    padding-top: 30vh;
    padding-bottom: 0vh;
  }

  .quotes h1.first-quote-onload {
    padding-top: 47vh;
    padding-bottom: 0vh;
  }

  .quotes b {
    color: #E5E5E5;
  }


  .quotes-button {
    display: block;
    text-align: center;
    font-size: 13pt;
    width: 150px;
    line-height: 40px;
    border-radius: 20px;
    border: 0.5px solid #E5E5E5;
    background-color: #FFFFFF;
    color: #979797;
    margin: 60px 46vw 0px auto;
    transition: 0.5s;
  }

   .quotes-button:hover {
     border-color: #4A4A4A;
     background-color: #4A4A4A;
     -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
     transition: 0.5s;
     color: #FFFFFF;
  }

  a.button-morning:hover {
    background-color: #FBA4A4;
    border-color: #FBA4A4;
  }

  a.button-afternoon:hover {
    background-color: #9DC2EB;
    border-color: #9DC2EB;
  }

  a.button-evening:hover {
    background-color: #B6B3F9;
    border-color: #B6B3F9;
  }

  /******************************************
  Case Studies
  ******************************************/

  h1.case-study-quotes {
    display: block;
    width: 60%;
    margin: 41vh auto 45vh auto;
    font-size: 30pt;
    line-height: 150%
  }

  .case-studies .video {
    display: block;
    width: 100%;
    background-color: white;
    height: auto;
  }

  .case-studies img {
    display: block;
    width: 100%;
    padding-top: 100px;
  }

  .case-studies h1 {
    font-size: 10pt;
    width: 60vw;
    text-align: right;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 100px;
    color: #979797;
  }

  .case-studies h1.download-is-below {
    padding-bottom: 25px;
  }

  .ipad-window {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
  }

  #video-2 {
    width: 561px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 486px; /* move video up to ipad */
    z-index: 0;
  }

  /* Since video is positioned into iPad... div requires no height */
  div.video-2 {
    height: 0px;
  }

  /* place gray background around ipad  */
  .ipad-background {
    width: 100vw;
    padding-top: 50px;
    padding-bottom:50px;
    background-color: #F2F2F2;
  }

  .download {
    display: block;
    margin: auto;
    width: 60vw;
    font-size: 15pt;
    line-height: 150%;
  }

  .explain-launch {
    display: block;
    margin: auto;
    width: 60vw;
    font-size: 15pt;
    line-height: 150%;
    padding-top: 100px;
  }

  .download-button {
    display: block;
    text-align: center;
    font-size: 13pt;
    width: 150px;
    line-height: 40px;
    border-radius: 20px;
    border: 0.5px solid #E5E5E5;
    background-color: #FFFFFF;
    color: #979797;
    margin: 25px auto 0px auto;
  }


   .download-button:hover {
    color: #FFFFFF;
    background-color: #9DC2EB;
    border-color: #9DC2EB;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }



/******************************************
Portfolio
******************************************/

  .portfolio {
    margin: 100px 0px 0px 15vw;
  }

  .portfolio h2.title {
    font-size: 15pt;
    margin-top: 100px;
    margin-bottom: 20px;
    font-weight: 400;
  }

  .portfolio h2.first-title {
    margin-top: 130px;
    margin-bottom: 20px;
  }

  a.work {
    display: block;
    font-size: 45pt;
    line-height: 110%;
    font-weight: 500;
    color: #969696;
    width: 500px;
  }

  a.morning:hover {
    color: #FBA4A4;
  }

  a.afternoon:hover {
    color: black;
  }

   a.evening:hover {
    color:black;
  }

  #gm{width: 200px;}
  #gm:hover {
    font-size: 60pt;
    /* color: #FBA4A4; */
    font-weight: 700;
  }

  #motolab{width: 200px;}
  #motolab:hover {
    font-size: 60pt;
    /* color: #FBA4A4; */
    font-weight: 700;
  }

  #electrify{width: 200px;}
  #electrify:hover {
    font-size: 60pt;
    /* color: #FBA4A4; */
    font-weight: 700;
  }

  #skyjack{width: 200px;}
  #skyjack:hover {
    font-size: 60pt;
    /* color: #FBA4A4; */
    font-weight: 700;
  }

  #dynaplas{width: 200px;}
  #dynaplas:hover {
    font-size: 60pt;
    /* color: #FBA4A4; */
    font-weight: 700;
  }

  #boat{width: 200px;}
  #boat:hover {
    font-size: 60pt;
    /* color: #FBA4A4; */
    font-weight: 700;
  }

  #resume{width: 200px;}
  #resume:hover {
    font-size: 60pt;
    /* color: #FBA4A4; */
    font-weight: 700;
  }

  #linkedin{width: 200px;}
  #linkedin:hover {
    font-size: 60pt;
    /* color: #FBA4A4; */
    font-weight: 700;
  }

  #twitter{width: 200px;}
  #twitter:hover {
    font-size: 60pt;
    /* color: #FBA4A4; */
    font-weight: 700;
  }

  #instagram{width: 200px;}
  #instagram:hover {
    font-size: 60pt;
    /* color: #FBA4A4; */
    font-weight: 700;
  }



/******************************************
Profile
******************************************/

.profilePic {
  display: block;
  width: 50%;
  margin: 119px auto 0px auto;
  transform: rotate(3deg);
}

.profile h2.title {
  display: block;
  width: 70vw;
  margin: 150px auto 0px auto;
  font-weight: 400;
}

.profile h1 {
  display: block;
  width: 70vw;
  margin: 50px auto 50px auto;
  line-height: 150%;
}


/******************************************
Footer
******************************************/

footer {
  display: block;
  height: 40px;
  width: 100%;
  margin: auto;
}

div.left-footer {
  clear: both;
  display: inline-block;
  float: left;
  margin: 0px 0px 0px 0px;
  padding: 100px 0px 0px 15vw;
  width: auto;
}

div.right-footer {
  display: inline-block;
  float: left;
  margin: 0px 0px 0px 0px;
  padding: 100px 5vw 0px 20vw;
  width: auto;
}

.footer-button {
  display: inline-block;
  text-align: center;
  font-size: 13pt;
  width: 150px;
  line-height: 40px;
  border-radius: 20px;
  border: 0.5px solid #E5E5E5;
  background-color: #FFFFFF;
  color: #979797;
  margin: 20px 0px 0px 0px;
  transition: 0.5s;
}

.footer-button-right {
  margin-left: 10px;
}

.footer-contact {
  border-color: #50D78F;
  background-color: #50D78F;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

#contact:hover {
  border-color: #4A4A4A;
  background-color: #4A4A4A;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

#portfolio:hover {
  border-color: #4A4A4A;
  background-color: #4A4A4A;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

#profile:hover {
  border-color: #4A4A4A;
  background-color: #4A4A4A;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

footer h1 {
  color: #4A4A4A;
}

footer h2 {
  color: #4A4A4A;
}

footer h3 {
  clear: both;
  color: #979797;
  font-size: 10pt;
  margin: 0px auto 0px auto;
  padding: 75px 0px 50px 0px;
  text-align: center;
  width: 500px;
}

footer p {
  /* font-weight: 100; */
}
